html, body {
    height: 100%;
    padding: 0px;
    margin: 0;
    font-size: 12px;

}

.container {
    height: 100%;
}

.container .wrapper {
    height: 100%;
    /*white-space: nowrap;*/
    overflow: scroll;
    margin-left: 220px;
}

#wrapper::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

#wrapper::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
}

#wrapper::-webkit-scrollbar-corner{
    background-color: #f5f5f5;
}
#wrapper::-webkit-scrollbar-thumb
{
    background-color: #00a48a;
}
.ui .logo {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: -5px;
    color: #000000;
}

.ui {
    width: 180px;
    position: fixed;
    height: 100%;
    color: white;
    background: #f5f5f5;
    color: #00a48a;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;

    overflow: scroll;
    display: inline-block;
    margin-left: -221px;
}


#ui::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

#ui::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
}
#ui::-webkit-scrollbar-corner{
    background-color: #f5f5f5;
}
#ui::-webkit-scrollbar-thumb
{
    background-color: #00a48a;
}

.ui button {
    margin: 5px 5px 10px 0;
    display: inline-block;
    padding: 3px 7px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    transition: 0.5s;
    outline: 0;
}

.ui button:hover {
    color: #ffffff;
    background-color: #16A085;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
    outline: 0;
}


.ui input {
    padding: 0 5px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #16A085;
    outline: none;
}

.ui select {
    height: 27px;
    border-radius: 4px;
    border: 1px solid #16A085;
    outline: none;
    width: 181px;
    margin-bottom: -2px;
}

.ui p {
    font-size: 14px;
    margin-bottom: 0px;
    color: #000000;
    margin-top: 2px;
}



.short_text{
    word-wrap: break-word;
    width: 160px;
    position: static;
}

.repUI {
. border: #0088ff;
    border: 1px dashed #00a48a;
    margin-top: 5px;
    padding: 4px;
    border-radius: 6px;
    /*background-color: rgba(0, 164, 138, 0.9);*/
}

.dataTable {
    display: inline-block;
    height: 100%;
}

.dataTable table {
    border: 1px solid #16A085;
    border-collapse: collapse;
}

.emailInput {
    width: 154px;
    margin-top: 5px;
    /*background-image: url(/image/mail-icon.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 2px 1px;*/
    /*background-size: 22px;*/
    /*padding: 0 27px;*/
}

th {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid #16A085; /* Граница вокруг ячеек */
}

tr {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid #16A085; /* Граница вокруг ячеек */
}

td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid #16A085; /* Граница вокруг ячеек */
}

.slide-enter {
    opacity: 0;
    transform: translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transform:   translate(0,0);
    transform: translate3d(0,0,0);
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.slide-leave {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.slide-leave.slide-leave-active {
    opacity: 0;
    transform:   translate(250px,0);
    transform: translate3d(250px,0,0);
}

